* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

main {
    width: 100%;
    height: 100vh;
}
nav {
    width: 100%;
    display: flex;
    top: 10px;
    right: 0;
    left: 0;
    z-index: 1000;
    background: #fff;
    padding: 20px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(45,46,57,1);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);*/
}

ul {
    padding: 0;
    list-style: none;
    width: 100%;
}

li {
    font-size: 1.3em;
}

form {
    height: 21px;
    width: 100%;
    background-color: rgba(45,46,57,1);
}

section {
    height: 60%;
    width: 100%;
}

input {
    width: 600px;
    height: 21px;
    border-color: transparent;
    border: none;
    padding: 2px;
    background-color: rgba(45,46,57,1);
    font-size: 1.3em;
    color: rgba(255,255,255,.95);
}

textarea:focus, input:focus{
    outline: none;
}

button:focus {
    outline: none;
}

.nav-items {
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 0.8em;
}

.nav-items li {
    cursor: pointer;
}

.nav-items li:hover{
    color: rgba(85,172,238 ,1);
}

.find_pow {
    width: 20%;
}

.hidden {
    display: none;
}
.mountain-icon {
    color: rgba(85,172,238,1);
    font-size: 1.8em;
}

.nav-items li:not(:last-child):not(.mountain_icon) {
    margin-right: 10px;
}

.nav-items li  i:not(.fa-mountain_icon):not(.fa-search) {
    margin-right: 3px;
}

.nav-items li > button {
    font-size: 1.3em;
    border: none;
    color: rgba(255,255,255,.95);
    background-color: rgba(45,46,57,1);
    border: 1px solid rgba(190,36,145 ,1);
}

.result_div {
    padding: 10px;
    color: rgba(255,255,255,.78);
}

#view {
    width: 100%;
    height: 40vh;
    margin-bottom: 0px;
    z-index: 500;
}

#results_view {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    padding: 10px;
    color: rgba(255,255,255,.78);
    background-color: rgba(45,46,57,1);
}

#resort_view {
    width: 50%;
    height: 100%;
    border: 1px solid rgba(190,36,145 ,1);
}

#weather_result_view {
    width: 50%;
    height: 100%;
    border: 1px solid rgba(190,36,145 ,1);
}

#results_view h2 {
    border-bottom: 1px solid rgba(190,36,145 ,1);
}